.icon-add-square {
  width: 1em;
  height: 1em;
  fill: #11142d;
}
.icon-add {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-arrow-down-fat {
  width: 1.33em;
  height: 1em;
  fill: #FFF;
}
.icon-arrow-down {
  width: 1.67em;
  height: 1em;
  fill: #11142D;
}
.icon-arrow-left {
  width: 1.3em;
  height: 1em;
  fill: #11142d;
}
.icon-arrow-next {
  width: 0.6em;
  height: 1em;
  fill: #FFF;
}
.icon-arrow-prev {
  width: 0.6em;
  height: 1em;
  fill: #FFF;
}
.icon-arrow-right {
  width: 1.3em;
  height: 1em;
  fill: #11142D;
}
.icon-arrow-up-right {
  width: 0.91em;
  height: 1em;
  fill: #11142d;
}
.icon-arrows {
  width: 0.63em;
  height: 1em;
  fill: #11142d;
}
.icon-bell {
  width: 0.91em;
  height: 1em;
  fill: #11142d;
}
.icon-bookmarks {
  width: 0.88em;
  height: 1em;
  fill: #fff;
}
.icon-box {
  width: 1.13em;
  height: 1em;
  fill: #808191;
}
.icon-camera {
  width: 1.05em;
  height: 1em;
  fill: #11142d;
}
.icon-chart {
  width: 1em;
  height: 1em;
  fill: #1b1d21;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: #1b1d21;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-document {
  width: 0.95em;
  height: 1em;
  fill: #11142d;
}
.icon-dots-border {
  width: 4em;
  height: 1em;
  fill: #11142D;
}
.icon-download {
  width: 0.95em;
  height: 1em;
  fill: #7fba7a;
}
.icon-dropbox {
  width: 1em;
  height: 1em;
  fill: #5f75ee;
}
.icon-editor-bold {
  width: 0.83em;
  height: 1em;
  fill: #fff;
}
.icon-editor-italic {
  width: 0.5em;
  height: 1em;
  fill: #808191;
}
.icon-editor-pic {
  width: 1.08em;
  height: 1em;
  fill: #808191;
}
.icon-editor-smile {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-email {
  width: 1.11em;
  height: 1em;
  fill: #11142d;
}
.icon-eye {
  width: 1.38em;
  height: 1em;
  fill: #808191;
}
.icon-full-screen {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-game-play {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-heart {
  width: 1.13em;
  height: 1em;
  fill: #fff;
}
.icon-joystick {
  width: 1.5em;
  height: 1em;
  fill: #808191;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: #11142D;
}
.icon-link {
  width: 2em;
  height: 1em;
  fill: #808191;
}
.icon-live {
  width: 1.45em;
  height: 1em;
  fill: #FFF;
}
.icon-location {
  width: 1em;
  height: 1em;
  fill: #11142d;
}
.icon-logout {
  width: 1.33em;
  height: 1em;
  fill: #808191;
}
.icon-menu-fill {
  width: 3.25em;
  height: 1em;
  fill: #808191;
}
.icon-menu-vertical {
  width: 0.25em;
  height: 1em;
  fill: #808191;
}
.icon-menu {
  width: 4em;
  height: 1em;
  fill: #fff;
}
.icon-moon {
  width: 1em;
  height: 1em;
  fill: #3f8cff;
}
.icon-pause {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-play-square {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-play-window {
  width: 1.23em;
  height: 1em;
  fill: #fff;
}
.icon-play {
  width: 0.75em;
  height: 1em;
  fill: #fff;
}
.icon-plus-sm {
  width: 0.92em;
  height: 1em;
  fill: #11142d;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-profile-check {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-profile {
  width: 0.81em;
  height: 1em;
  fill: #11142d;
}
.icon-remove {
  width: 1em;
  height: 1em;
  fill: #11142D;
}
.icon-replay {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-reply {
  width: 1.21em;
  height: 1em;
  fill: #fff;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #11142d;
}
.icon-settings-fill {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-settings {
  width: 0.91em;
  height: 1em;
  fill: #1b1d21;
}
.icon-share-1 {
  width: 1.21em;
  height: 1em;
  fill: #11142D;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-smile {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-sound-off {
  width: 0.88em;
  height: 1em;
  fill: #fff;
}
.icon-sound-on {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-star-fill {
  width: 1em;
  height: 1em;
  fill: #FFCE73;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: #3f8cff;
}
.icon-trending {
  width: 0.95em;
  height: 1em;
  fill: #11142d;
}
.icon-upload {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-view-cell {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-view-list {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-wand {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-wifi {
  width: 1.45em;
  height: 1em;
  fill: #fff;
}
